.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000007F;

}
/*
@media screen and (max-width: 510px) {
}*/












