.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: #000000FF url("../../../images/avaPen-min.svg") no-repeat center;
  opacity: 0;
}
