.form__input-place {
  padding-top: 48px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;


  ;

}

@media screen and (max-width: 618px) {
  .form__input-place {
    padding-top: 75px;
    padding-bottom: 45px;
  }
}