.popup__container-img {
  /*z-index: 2;
  align-self: center;
  padding-left: 40px;
  padding-bottom: 40px;
  display: grid;
  gap: 8px;*/
  grid-template-areas:
    '. button_close'
    'figure .'
}

@media screen and (max-width: 618px) {
  .popup__container-img {
    /*width: 100%;*/
    max-width: 75vw;
   /* padding-left: 0;
    gap: 16px;
    padding-bottom: 36px;*/
    grid-template-areas:
      'button_close'
      'figure'
  }
}