.profile {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 710px) {
  .profile {
    flex-direction: column;
    gap: 32px;
    width: 282px;
    align-self: center;
  }
}