.popup__input-place {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media screen and (max-width: 618px) {
    .popup__input-place{
        padding-top: 75px;
        padding-bottom: 45px;
    }
}