.profile__names-block {
  display: flex;
  align-content: baseline;
  gap: 18px;
  min-width: 0;
}

@media screen and (max-width: 710px) {

  .profile__names-block {
    justify-content: space-between;
    gap: 10px;
    justify-self: stretch;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}