.profile__name {
  width: 294px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 710px) {
  .profile__name {
    width: 100%;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}