.popup__button-close {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  grid-area: button_close;
  background-color: transparent;
  border: 0;
  background-image: url("../../../images/cross-min.svg");
  background-size: cover;
}

@media screen and (max-width: 618px) {
  .popup__button-close {
    justify-self: end;
    width: 20px;
    height: 20px;
  }
}