.profile__user-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 710px) {
    .profile__user-info {
        flex-direction: column;
        width: 100%;
        gap: 26px;
    }
}